//
//  ExampleConfig.xcconfig
//  example-configuration-environments
//
//  Created by Hao Nguyen K. on 07/06/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App build info
APP_ENVIRONMENT = Example
APP_DISPLAY_NAME = example Prod
APP_BUILD_VERSION = 0.0.2
APP_BUILD_NUMBER = 1

// API domain
BASE_URL = https:\/\/example-configuration.com
