//
//  ExcampleDevConfig.xcconfig
//  example-configuration-environments
//
//  Created by Hao Nguyen K. on 07/06/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App build info
APP_ENVIRONMENT = ExampleDev
APP_DISPLAY_NAME = example Dev
APP_BUILD_VERSION = 0.1.3
APP_BUILD_NUMBER = 1

// API domain
BASE_URL = https
